@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(255,255,255);
}

#root {
  display: flex;
  align-items: left;
  justify-content: left;
  height: 90vh;
}

button,
button:active {
  background-color: rgb(234,178,156);
  border: none;
  width: 32px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em rgb(194, 91, 44);
  -webkit-box-shadow: 0.2em 0.2em rgb(194, 91, 44);
  -moz-box-shadow: 0.2em 0.2em rgb(194, 91, 44);
}

button:focus {
  translate: 0.2em 0.2em;
  box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
  -webkit-box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
  -moz-box-shadow: 0.2em 0.2em rgb(194, 91, 44) inset;
}

#start-stop {
  position: relative; /* Absolut positioniert */
  top: -1px; /* 100px von oben */
  right: 15px; /* 30px vom rechten Rand */
  background-color: #6a6b70;
  border: none;
  width: 32px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em #353638;
  -webkit-box-shadow: 0.2em 0.2em #353638;
  -moz-box-shadow: 0.2em 0.2em #353638;
}

#reset {
  position: relative; /* Absolut positioniert */
  top: -1px; /* 150px von oben */
  right: 6px; /* 30px vom rechten Rand */
  background-color: #6a6b70;
  border: none;
  width: 32px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em #353638;
  -webkit-box-shadow: 0.2em 0.2em #353638;
  -moz-box-shadow: 0.2em 0.2em #353638;
}

#start-stop,
#reset {
  background-color: #6a6b70; /* Updated background color */
  border: none;
  width: 32px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em #353638; /* Updated shadow color */
  -webkit-box-shadow: 0.2em 0.2em #353638;
  -moz-box-shadow: 0.2em 0.2em #353638;
}

#start-stop:active,
#reset:active {
  translate: 0.2em 0.2em;
  box-shadow: 0.2em 0.2em #353638 inset; /* Updated shadow color for active state */
  -webkit-box-shadow: 0.2em 0.2em #353638 inset;
  -moz-box-shadow: 0.2em 0.2em #353638 inset;
}

/* Clock Body */

/* Main Container */
.clock-container {
  background-color: #c6c7cb; /* Main color */
  width: 200px;  /* Adjust the width (increase or decrease) */
  height: 240px; /* Optionally adjust the height if you want a taller container */
  border-radius: 20px;
  padding: 30px;
  box-shadow: 10px 10px #4f5051; /* Shadow color */
}

/* Display + Stop/Start/Reset Controls */

#time-left {
  font-size: 40px;
  text-align: center;
  background-color: #8ca05b; /* Updated background color */
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px #46502e inset; /* Updated shadow color */
}

#display-controls {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#timer-label {
  font-size: 15px;
  text-align: center;
  padding-top: 6px;
  background-color: #8ca05b; /* Updated background color */
  border-radius: 10px;
  height: 25px;
  flex: 2;
  box-shadow: 3px 3px #46502e inset; /* Updated shadow color */
}

#timer-ssr {
  flex: 1;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  flex-start: end;
}

/* Timer Length Controls */

.length-container {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  height: 110px;
}

/* Move Increment Button for Break Length */
.break-container .inc-dec-btn-container button.inc-arrow {
  position: relative;  /* Set relative positioning */
  top: -5px;  /* Move the increment arrow 10px upwards */
  left: -25px;  /* Move the increment arrow 5px to the right */
  background-color: #008452;
  box-shadow: 0.2em 0.2em #004229;
  -webkit-box-shadow: 0.2em 0.2em #004229;
  -moz-box-shadow: 0.2em 0.2em #004229;
}

/* Move Decrement Button for Break Length */
.break-container .inc-dec-btn-container button:not(.inc-arrow) {
  position: relative;  /* Set relative positioning */
top: -5px;  /* Move the increment arrow 10px upwards */
  left: -28px;  /* Move the increment arrow 5px to the right */
  background-color: #0043ae;
  box-shadow: 0.2em 0.2em #002257;
  -webkit-box-shadow: 0.2em 0.2em #002257;
  -moz-box-shadow: 0.2em 0.2em #002257;
}

/* Increment Arrow for Session Length */
.session-container .inc-dec-btn-container button.inc-arrow {
  position: relative;  /* Set relative positioning */
top: -5px;  /* Move the increment arrow 10px upwards */
  left: -25px;  /* Move the increment arrow 5px to the right */
  background-color: #deb22a;
  box-shadow: 0.2em 0.2em #6f5915;
  -webkit-box-shadow: 0.2em 0.2em #6f5915;
  -moz-box-shadow: 0.2em 0.2em #6f5915;
}

/* Decrement Arrow for Session Length */
.session-container .inc-dec-btn-container button:not(.inc-arrow) {
  position: relative;  /* Set relative positioning */
 top: -5px;  /* Move the increment arrow 10px upwards */
  left: -28px;  /* Move the increment arrow 5px to the right */
  background-color: #be061a;
  box-shadow: 0.2em 0.2em #5f030d;
  -webkit-box-shadow: 0.2em 0.2em #5f030d;
  -moz-box-shadow: 0.2em 0.2em #5f030d;
}

/* Break Length Increment Button */
.break-container .inc-dec-btn-container button.inc-arrow {
  background-color: #008452; /* Main */
  box-shadow: 0.2em 0.2em #004229; /* Shadow */
  -webkit-box-shadow: 0.2em 0.2em #004229;
  -moz-box-shadow: 0.2em 0.2em #004229;
}

/* Break Length Decrement Button */
.break-container .inc-dec-btn-container button:not(.inc-arrow) {
  background-color: #0043ae; /* Main */
  box-shadow: 0.2em 0.2em #002257; /* Shadow */
  -webkit-box-shadow: 0.2em 0.2em #002257;
  -moz-box-shadow: 0.2em 0.2em #002257;
}

/* Session Length Increment Button */
.session-container .inc-dec-btn-container button.inc-arrow {
  background-color: #deb22a; /* Main */
  box-shadow: 0.2em 0.2em #6f5915; /* Shadow */
  -webkit-box-shadow: 0.2em 0.2em #6f5915;
  -moz-box-shadow: 0.2em 0.2em #6f5915;
}

/* Session Length Decrement Button */
.session-container .inc-dec-btn-container button:not(.inc-arrow) {
  background-color: #be061a; /* Main */
  box-shadow: 0.2em 0.2em #5f030d; /* Shadow */
  -webkit-box-shadow: 0.2em 0.2em #5f030d;
  -moz-box-shadow: 0.2em 0.2em #5f030d;
}

.inc-dec-btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 140px;
  height:15px;
}

/* Break Length Container */
.break-container
{
  text-align: center;
  border: 2px solid #636466;
  padding-top: 5px;  /* Reduce padding from the top to move text up */
  padding-bottom: 15px;  /* You can keep or adjust padding at the bottom */
  border-radius: 10px;
  width: 45%;
  font-size: 13px
}

/* Session Length Container */
.session-container {
  text-align: center;
  border: 2px solid #636466;
  padding-top: 5px;  /* Reduce padding from the top to move text up */
  padding-bottom: 15px;  /* Adjust bottom padding as needed */
  border-radius: 10px;
  width: 45%;
   font-size: 13px
}

.timer-length {
  font-size: 2em;
}

.break-container,
.inc-arrow {
  margin-right: 15px;
}

.break-container,
.inc-arrow {
  margin-right: 15px;
}
